.delivery-hr {
  border: 1px solid #24465f;
  background-color: #24465f !important;
  opacity: 1;
}

.delivery-section {
  margin: 70px 130px 0px 100px;
}
.delivery-content {
  line-height: 1.5;
  color: #24465f;
  font-weight: 500;
  margin-top: 30px;
}
.delivery-header {
  color: #e77063 !important;
}
