.Footer {
  margin-top: 200px;
  margin-bottom: 60px;
  padding: 0 200px;
  text-align: center;
}
.reachOut {
  text-align: center;
}

.nav-sub-item {
  line-height: 2;
  font-weight: 300;
  cursor: pointer;
  font-size: 20px;
}
.followUs {
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: inherit;
}
