@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.Navbar {
  margin-top: 20px;
  margin-left: 60px;
}
a:hover {
  color: #e77063 !important;
}

@media only screen and (min-device-width: 1373px) {
  .malaiKofta {
    width: 460px;
    position: absolute;
    right: -1px;
    top: 0px;
  }
  .blueMockup {
    width: 340px;
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 220px;
  }
  .blueCoralLogo {
    width: 20px;
    z-index: 1;
    position: absolute;
    top: 545px;
    right: 415px;
  }

  .orderNow {
    position: absolute;
    top: 475px;
    right: 260px;
    width: 180px;
  }

  .RaspberryRicotta {
    width: 700px;
    z-index: 1;
    position: absolute;
    top: 400px;
    left: -500px;
  }

  .googlePlay {
    width: 200px;
    margin-left: 230px !important;
    margin-top: -100px;
  }
  .iosNewsletter {
    margin-left: 240px;
    color: #24465f;
    font-weight: 500;
  }
  .instaImg {
    margin: 10px;
    width: 33px;
  }
  .blueCoralLogoWithName {
    width: 120px;
    position: absolute;
    right: 25px;
    top: 610px;
  }

  .selectMeal {
    padding: 8%;
    line-height: 0.8;
    font-size: 30px;
    color: #24465f;
    font-family: "Poppins";
    z-index: 1;
  }
  .instaSection {
    margin-left: 450px;
    margin-top: 130px;
    line-height: 0.8;
    font-size: 22px;
    font-weight: 500;
    color: #24465f;
    font-family: "Poppins";
    z-index: 1;
  }

  /*------------------recipe section----------------------------*/
  .recipeHeading {
    color: #24465f;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 260px;
  }
  .cuisine {
    margin-top: 50px;
    margin-left: 320px;
  }
  .orderRecipes {
    margin-top: 100px;
    padding: 0 30px;
    overflow-x: hidden;
  }
  .orderRecipes::-webkit-scrollbar {
    display: none;
  }
  .orderRecipeNow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  /*------------------about us----------------------------*/
  .shamiKabab {
    position: absolute;
    right: -500px;
    width: 900px;
    margin-top: -100px;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  .about {
    margin-top: 170px;
    margin-left: 100px;
  }
  .aboutHead {
    font-weight: 500 !important;
  }
  .aboutPara {
    margin: 40px 780px 0px 20px;
    font-size: 25px;
    text-align: left;
    color: #24465f;
    font-weight: 500;
  }
  .quoteHeading {
    margin-top: 70px;
    margin-right: 100px;
    text-align: center;
    font-size: 25px;
    color: #24465f;
    font-weight: 500;
    line-height: 1.5;
  }
  .quote {
    margin-right: 100px;
    text-align: center;
    font-size: 45px;
    color: #e77063;
    font-weight: 500;
    line-height: 1.5;
    font-family: Allura;
  }

  /*------------------contact us----------------------------*/
  .Spaghetti {
    position: absolute;
    left: -500px;
    width: 900px;
    margin-top: -50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
  }
  #contact-form {
    margin-top: 100px;
  }

  .contact-heading {
    text-align: center;
    color: #24465f !important;
  }

  .contact-subHeading {
    text-align: center;
    color: #24465f !important;
  }

  .contact-box {
    background-color: white;
    border-radius: 25px;
    width: 75%;
    margin: 0 12%;
    -webkit-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
  }

  .form-control {
    border-radius: 15px !important;
    margin: 2% 0;
    background-color: #e7e6e7;
    border-width: 0;
  }
  .form-control:focus {
    border-color: #24465f;
    border-width: 1px;
    box-shadow: none;
  }
  .submit-button {
    margin-left: 55%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #24465f;
  }
}

@media only screen and (min-device-width: 850px) and (max-device-width: 1373px) {
  .malaiKofta {
    width: 380px;
    position: absolute;
    right: -1px;
    top: 0px;
  }
  .blueMockup {
    width: 260px;
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 200px;
  }
  .blueCoralLogo {
    width: 15px;
    z-index: 1;
    position: absolute;
    top: 435px;
    right: 350px;
  }

  .orderNow {
    position: absolute;
    top: 390px;
    right: 220px;
    width: 150px;
  }

  .RaspberryRicotta {
    width: 600px;
    z-index: 1;
    position: absolute;
    top: 400px;
    left: -400px;
  }

  .googlePlay {
    margin-left: 320px;
    margin-top: -100px;
  }
  .iosNewsletter {
    margin-left: 150px;

    color: #24465f;
    font-weight: 500;
  }
  .instaImg {
    margin: 10px;
    width: 33px;
  }
  .blueCoralLogoWithName {
    width: 100px;
    position: absolute;
    right: 45px;
    top: 500px;
  }

  .selectMeal {
    padding: 8%;
    line-height: 0.8;
    font-size: 30px;
    color: #24465f;
    font-family: "Poppins";
    z-index: 1;
  }
  .instaSection {
    margin-left: 300px;
    margin-top: 100px;
    line-height: 0.8;
    font-size: 22px;
    font-weight: 500;
    color: #24465f;
    font-family: "Poppins";
    z-index: 1;
  }

  /*------------------recipe section----------------------------*/
  .recipeHeading {
    margin-top: 100px;
    margin-left: 260px;
  }
  .cuisine {
    margin-top: 40px;
    margin-left: 250px;
  }
  .orderRecipes {
    margin-top: 60px;
    overflow-x: hidden;
  }
  .orderRecipes::-webkit-scrollbar {
    display: none;
  }
  .orderRecipeNow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: -20px;
  }

  /*------------------about us----------------------------*/
  .shamiKabab {
    position: absolute;
    right: -300px;
    width: 700px;
    margin-top: -50px;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  .about {
    margin-top: 50px;
    margin-left: 100px;
  }
  .aboutPara {
    margin: 40px 450px 0px 20px;
    font-size: 25px;
    text-align: left;
    color: #24465f;
    font-weight: 500;
  }
  .quoteHeading {
    margin-top: 70px;
    margin-right: 100px;
    text-align: center;
    font-size: 25px;
    color: #24465f;
    font-weight: 500;
    line-height: 1.5;
  }
  .quote {
    margin-right: 100px;
    text-align: center;
    font-size: 45px;
    color: #e77063;
    font-weight: 500;
    line-height: 1.5;
    font-family: Allura;
  }

  /*------------------contact us----------------------------*/
  .Spaghetti {
    position: absolute;
    left: -350px;
    width: 700px;
    margin-top: -50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
  }
  #contact-form {
    margin-top: 100px;
  }

  .contact-heading {
    text-align: center;
    color: #24465f !important;
  }

  .contact-subHeading {
    text-align: center;
    color: #24465f !important;
  }

  .contact-box {
    background-color: white;
    border-radius: 25px;
    width: 75%;
    margin: 0 12%;
    -webkit-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
  }

  .form-control {
    border-radius: 15px !important;
    margin: 2% 0;
    background-color: #e7e6e7;
    border-width: 0;
  }
  .form-control:focus {
    border-color: #24465f;
    border-width: 1px;
    box-shadow: none;
  }
  .submit-button {
    margin-left: 55%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #24465f;
  }
}
@media only screen and (min-device-width: 765px) and (max-device-width: 850px) {
  .malaiKofta {
    width: 270px;
    position: absolute;
    right: -10px;
    top: 230px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .blueMockup {
    width: 260px;
    position: absolute;
    top: 270px;
    right: 80px;
  }
  .blueCoralLogo {
    position: absolute;
    display: none;
  }

  .orderNow {
    position: absolute;
    top: 550px;
    right: 80px;
    width: 180px;
  }

  .RaspberryRicotta {
    width: 550px;
    z-index: 1;
    position: absolute;
    top: 400px;
    left: -400px;
  }

  .googlePlay {
    position: absolute;
    width: 180px;
    left: 170px;
    top: 350px;
  }
  .iosNewsletter {
    margin-top: 80px;
    margin-right: 200px;
    padding: 0 100px;
    text-align: center;
    color: #24465f;
    font-weight: 700;
  }
  .instaImg {
    margin: 10px;
    width: 33px;
  }
  .blueCoralLogoWithName {
    position: absolute;
    display: none;
  }

  .selectMeal {
    padding: 8%;
    line-height: 0.8;
    font-size: 30px;
    color: #24465f;
    font-family: "Poppins";
    z-index: 1;
  }
  .instaSection {
    display: none;
  }

  /*------------------recipe section----------------------------*/
  .recipeHeading {
    position: relative;
    margin-top: 250px;
    margin-left: 140px;
    font-size: 25px;
    text-align: left;
    color: #24465f;
    font-weight: 700;
  }
  .cuisine {
    margin-top: 40px;
    margin-left: 140px;
    font-weight: 500;
  }
  .orderRecipes {
    margin-top: 20px;
    overflow-x: hidden;
  }
  .orderRecipes::-webkit-scrollbar {
    display: none;
  }
  .orderRecipeNow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: -20px;
  }

  /*------------------about us----------------------------*/
  .shamiKabab {
    position: absolute;
    right: -250px;
    width: 500px;
    margin-top: -50px;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  .about {
    margin-top: 100px;
    margin-left: 40px;
  }
  .aboutPara {
    margin: 45px 250px 0px 10px;
    font-size: 20px;
    text-align: left;
    color: #24465f;
    font-weight: 700;
    line-height: 1.5;
  }
  .quoteHeading {
    margin-top: 40px;
    margin-left: 40px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    color: #24465f;
    font-weight: 700;
  }
  .quote {
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 45px;
    color: #e77063;
    font-weight: 500;
    line-height: 1.5;
    font-family: Allura;
  }

  /*------------------contact us----------------------------*/
  .Spaghetti {
    position: absolute;
    display: none;
  }
  .hideMobile {
    display: none;
  }
  .mobilePadding {
    padding: 20px;
  }

  #contact-form {
    margin-top: 100px;
  }

  .contact-heading {
    text-align: center;
    color: #24465f !important;
  }

  .contact-subHeading {
    text-align: center;
    color: #24465f !important;
  }

  .contact-box {
    background-color: white;
    border-radius: 25px;
    width: 75%;
    margin: 0 12%;
    -webkit-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
  }

  .form-control {
    border-radius: 10px !important;
    margin: 2% 0;
    background-color: #e7e6e7;
    border-width: 0;
  }
  .form-control:focus {
    border-color: #24465f;
    border-width: 1px;
    box-shadow: none;
  }
  .submit-button {
    margin-top: 3%;
    border-radius: 10px;
    background-color: #24465f;
  }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 765px) {
  .malaiKoftaMobile {
    width: 350px;
    position: absolute;
    right: -40px;
    top: 230px;
  }
  .blueMockup {
    width: 260px;
    position: absolute;
    top: 270px;
    right: 85px;
  }
  .blueCoralLogo {
    position: absolute;
    display: none;
  }

  .orderNow {
    display: none;
  }

  .RaspberryRicotta {
    display: none;
  }

  .googlePlay {
    position: absolute;
    width: 100px;
    right: 130px;
    top: 580px;
  }
  .iosNewsletter {
    padding: 6px;
    margin-top: 420px;
    text-align: center;
    color: #24465f;
    font-weight: 700;
    font-size: 10px;
  }
  .instaImg {
    margin: 10px;
    width: 33px;
  }
  .blueCoralLogoWithName {
    display: none;
  }

  .selectMeal {
    margin: 10px 0 0 40px;
    line-height: 0.8;
    font-size: 30px;
    color: #24465f;
    font-weight: 700;
    font-family: "Poppins";
    z-index: 1;
  }
  .instaSection {
    display: none;
  }

  /*------------------recipe section----------------------------*/
  .recipeHeading {
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 25px;
    text-align: left;
    color: #24465f;
    font-weight: 700;
  }
  .cuisine {
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 500;
  }
  .orderRecipes {
    margin-top: 20px;
    padding: 0 15px;
    overflow-x: hidden;
  }
  .orderRecipes::-webkit-scrollbar {
    display: none;
  }
  .orderRecipeNow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: -10px;
  }

  /*------------------about us----------------------------*/
  .shamiKabab {
    position: absolute;
    right: -180px;
    width: 270px;
    margin-top: -100px;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  .about {
    margin-top: 100px;
    margin-left: 45px;
    font-size: 20px;
  }

  .aboutHead {
    font-size: 24px !important;
    font-weight: 500 !important;
  }
  .aboutPara {
    margin: 45px 30px 0px 10px;
    font-size: 18px;
    text-align: left;
    color: #24465f;
    font-weight: 500;
    line-height: 1.5;
  }
  .quoteHeading {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: #24465f;
    font-weight: 700;
  }
  .quote {
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 40px;
    color: #e77063;
    font-weight: 500;
    line-height: 1.5;
    font-family: Allura;
  }

  /*------------------contact us----------------------------*/
  .Spaghetti {
    position: absolute;
    display: none;
  }
  .hideMobile {
    display: none;
  }
  .mobilePadding {
    padding: 20px;
  }

  #contact-form {
    margin-top: 60px;
  }

  .contact-heading {
    text-align: center;
    color: #24465f !important;
    font-weight: 700;
  }

  .contact-subHeading {
    text-align: center;
    color: #24465f !important;
    font-size: 14px;
  }

  .contact-box {
    background-color: white;
    border-radius: 25px;
    width: 75%;
    margin: 0 12%;
    -webkit-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 13px -7px 38px -4px rgba(0, 0, 0, 0.5);
  }
  .my-form {
    padding: 6%;
  }

  .form-control {
    border-radius: 10px !important;
    margin-bottom: 6%;
    background-color: #e7e6e7;
    border-width: 0;
  }
  .form-control:focus {
    border-color: #24465f;
    border-width: 1px;
    box-shadow: none;
  }
  .submit-button {
    margin-top: 3%;
    border-radius: 10px;
    background-color: #24465f;
  }
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
