body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  color: #24465f;
  padding: 40px 40px;

  border: none;
}
.openbtn:hover {
  background-color: white;
}
.openbtn:hover::after {
  background-color: white;
}

.brand-name {
  font-size: 1.3rem;
  margin-right: 60px;
  margin-left: -20px;
  padding-top: -10px;
  font-family: "Poppins";
  color: #24465f;
  font-weight: 800;
}
.cross {
  font-size: 1.3rem;
  font-family: "Poppins";
  padding-top: -10px;
  color: #24465f;
}
.list {
  color: #24465f;
  font-weight: 500;
}
.content-down {
  margin-top: 90%;
  margin-left: 15%;
  margin-right: 5%;
  font-size: 0.9rem;
  color: #24465f;
  font-family: "Poppins";
  font-weight: 500;
}
.logo {
  width: 11%;
  margin-right: 30px;
  float: right;
  margin-top: 45px;
}
